.Websitename {
    text-align: center;
    font-weight: bold;
    color: rgb(4, 104, 26);
    margin-top: 70px;
    font-size: 40px;
}
.header{
    text-align: center;

}
.main{
    justify-content: center;
    display: flex;
    margin-top: 40px;
}

.signbutton{
     background-color:rgb(4, 164, 79);
        color:white;
        border:none;
        height: 40px;
        width: 80px;
        border-radius: 5px;
        cursor:pointer;
        margin-right: 20px;
        font-weight: bold;
        transition: background-color 0.3s;
    }
.signbutton:hover {
        background-color: rgb(46, 164, 79);
    }
.signbutton:active {
        background-color: rgb(46, 164, 79);
        transform: scale(0.95);
    }
    .fieldlogo{
        border: 4px double rgb(4, 164, 79);
        margin-right: 0px;
        background-color: rgba(255, 253, 208, 0.6);
        box-shadow: 0px 4px 8px rgba(4, 162, 46, 0.3);
        border-radius: 15px;
        padding: 16px;
        margin-top: 0px;
    }
    .field{
        border: 4px double rgb(4, 164, 79);
        margin-left:0px;
        height: 350px;
        width: 250px;
        text-align: center;
        background-color: rgba(255, 253, 208, 0.6);
        box-shadow: 0px 4px 8px rgba(4, 162, 46, 0.3);
        border-radius: 15px;
        padding: 20px;
        margin-top: 0px;
    }
    .background{
        background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
        url("background1.jpg");
        background-size: contain;
        background-position: center;
        background-repeat: repeat;
        position:relative;
    }
    .interface{
        font-weight: bold;
        font-family: Helvetica, Arial, sans-serif;
        color: rgb(18, 80, 3);
    }
    .description {
        text-align: center;
        font-size: 20px;
        color: rgb(96, 8, 119);
        margin-top: 0px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .labelbox{
        border: 2px groove rgb(4, 164, 79);
        border-radius: 5px;
        padding: 5px;
        width: 190px;
        text-align: center;
        padding: 5px;
    }
    .labelbox.focus{
        outline: none;
        border-color: rgb(4, 104, 26);
        box-shadow: 0 0 0 4px rgba(4, 162, 46, 0.2);
    }
    
